<!DOCTYPE html>
<html>
  <head>
    <title>Web Scraping HTML API </title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', path='/stylehseet.css') }}">
  </head>
  <body>
    <h1>Item ID: {{ id }}</h1>
    <form>
      <div class="row">
        <div class="col">
          <!-- input number 1 -->
          <input type="text" class="form-control" name="site" placeholder="Enter URL">
        </div>
        <div class="col">
          <!-- input number 2 -->
          <input type="text" class="form-control" name="qstring" placeholder="Enter Query String">
        </div>
      </div>
      <!-- submit button -->
      <input type="submit">
      <p>Result : {{ result }}</p>
    </form>
  </body>
</html>

