<!DOCTYPE html>
<html>
  <head>
    <title>Web Scraping HTML API </title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', path='/stylehseet.css') }}">
  </head>
  <body>
    <h1>Item ID: {{ id }}</h1>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="URL">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Query String">
        </div>
      </div>
      <button>
        <label>submit</label>
      </button>
    </form>
  </body>
</html>

